/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
.info-top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.head {
  display: flex;
  justify-content: space-between;
}
.nav-order {
  margin: 5px;
  text-decoration: none;
}
.section-end {
  border-top: 2px solid red;
  padding-top: 10px;
}
.name-address-cascade {
  display: flex;
  align-items: baseline;
  margin-top: 10px;
}
.container {
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid black;
}
.container h1 {
  font-size: 6rem;
  margin-top: 20px;
}
.container h2 {
  font-size: 4rem;
  padding-bottom: 15px;
}
.container h3 {
  font-size: 3rem;
}
.container h4 {
  font-size: 2.5rem;
  text-decoration: underline;
  margin: 20px 0 5px;
}
.container date {
  font-size: 15px;
  padding-top: 10px;
}
.container p {
  font-size: 2rem;
}
.container .headshot {
  width: 25%;
  height: 170px;
  padding-bottom: 3px;
  border-bottom: 2px solid red;
}
.container li {
  margin: 7px 0;
}
.container .direction {
  font-size: 1.5rem;
}
.container ul {
  margin-left: 40px;
}
header {
  display: flex;
  justify-content: space-between;
}
header .intro {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-bottom: 2px solid red;
  width: 100%;
  padding-top: 10px;
}
header nav {
  font-size: 1.8rem;
}
header nav a {
  margin: 5px;
  text-decoration: none;
}
header nav a:hover {
  color: red;
}
header span {
  color: red;
}
header address {
  margin-top: 20px;
  font-size: 2rem;
  background: black;
  color: white;
  padding: 2px;
}
section {
  padding: 20px;
  text-align: center;
}
.mid {
  margin-top: 30px;
}
.mid .skills {
  margin-bottom: 20px;
}
.mid .skills h2 {
  margin-bottom: 10px;
}
.mid .skills .uls {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid red;
  padding-top: 10px;
}
.mid .skills li {
  font-size: 2rem;
  padding-top: 5px;
}
.mid .work-history {
  margin-top: 40px;
}
.mid .work-history .heading {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid red;
  padding-top: 10px;
}
.mid .work-history .name-address {
  display: flex;
  align-items: baseline;
  margin-top: 10px;
}
.mid .work-history .content .heading {
  border: none;
}
.mid .work-history .content .heading h3 {
  padding-top: 20px;
}
.bottom {
  margin-top: 40px;
}
.bottom h4 {
  text-decoration: none;
  padding-left: 10px;
}
.bottom h2 {
  border-bottom: 2px solid red;
}
.bottom .certificate {
  margin-top: 50px;
}
